#petIcon {
    width: 100px;
    height: 100px;
}

.btn {
    border-radius: 20px;
    height: 20px;
    width: 20rem;
    background-color: darksalmon;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: darkslategray;
}